@tailwind base;
@tailwind components;
@tailwind utilities;

#intro-mobile {
  background-image: url(../images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 568px) {
  #intro-mobile {
    background-image: url(../images/bg-intro-desktop.svg);
    background-size: contain;
  }
} ;
